@use "global" as *;

.c-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.c-title__en {
  font-size: rem(60);
  font-weight: 700;
  line-height: 1;
  @include mq(md) {
    font-size: rem(40);
    font-weight: 600;
  }
}

.c-title__en::first-letter {
  color: #b50000;
}

.c-title__ja {
  margin-top: rem(10);
  margin-left: rem(7); //中央揃えの時は不要
  font-size: rem(16);
  font-weight: 700;
  line-height: 1;
  letter-spacing: .03em;
  @include mq(md) {
    margin-top: rem(6);
    font-size: rem(12);
  }
}

// c-title--white
.c-title--white {
  color: $white;
}

.c-title--white .c-title__en {
  font-size: rem(70);
  @include mq(md) {
    font-size: rem(50);
  }
}

.c-title--white .c-title__en::first-letter {
  color: $white;
}
